html, body{
  margin:0;
  padding:0;
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  margin: 0px;
  padding: 0px;
  /*não deixar sobra a direita da página quando diminu a resolução*/
  overflow-x: hidden;
}

body{
  font-family: 'Roboto', sans-serif;
}

img{
  border-radius: 2px;
}

/* .container{
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 26px 90px 290px 555px 176px;
  /*grid-template-rows: 2% 8% 25% 50% 15%;
  grid-template-areas: "ht"
                       "hb"
                       "s"
                       "m"
                       "f";
} */
.container{
  display: flex;
  flex-direction: column;
  min-height:100%;
  position: relative;
  width: 100%;
}

header {
}

.header-top{
  /*grid-area: ht;*/
  display: flex;
  align-items: center;
  justify-content: center;
  height: 26px;
  width: 100%;
  background: #020085;
}

.div-tel{
  display: flex;
  align-items: center;
  justify-content: flex-end;
  width: 875px;
}

.div-tel span{
  font-weight: bold;
  font-size: 12px;
  color: white;
}

.div-tel span:last-child{
  margin-left: 10px
}

.header-bot{
  position: relative;
  background: white;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 90px;

}

.logo-menu{
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 875px;
}

.logo{
  width: 207px
}

.header-bot nav{
  margin-top: 4%;
  margin-right: 4%;
  width: 100%;
  text-align: right;
}

.hmgr-menu{
  visibility: hidden;
  position: absolute;
}

.hmgr-menu img{
  width: 30px;
}

.header-bot ul li{
  position: relative;
  display: inline-block;

  color: #b5b5b5;
  text-transform: uppercase;
}

.li-menu-principal{
  /* padding: 10px 0px 10px 10px; */
  padding: 1% 0 1% 1%;
}

.menu-principal{
  visibility: visible;
  width: 100%;
}

.sub-m-1, .sub-m-2{
  /* padding: 10px 18px 10px 10px; */
  padding: 1% 0 1% 1%;
}

.sub-m-1 li, .sub-m-2 li{
  /* padding: 5% 0; */
  padding: 5% 50% 5% 1%;
}
/* .menu-principal .li-menu-principal:last-child{
  padding: 10px 0px 10px 10px;
} */

.menu ul{
  padding-inline-start: 0;
}

a, a:visited {
  color: #b5b5b5;
  text-decoration-line: none;
  font-weight: bold;
}
.sub-m-1{
  display: block;
  visibility: hidden;
  position: absolute;
  top: 33px;
  /*left: 8px;*/
  width: 100px;
  background: #020085;
  padding: 0 15px;
  z-index: 1;

}

.empresa:hover .sub-m-1{
  visibility: visible;
}

.sub-m-1 a{
  position: relative;
}

.sub-m-2{
  display: block;
  visibility: hidden;
  position: absolute;
  width: 100px;
  left: 113px;
  top: 0px;
  background: #020085;
  padding: 0 15px;
}

.submenu:hover .sub-m-2{

  visibility: visible;
}

h1{
  text-transform: uppercase;
  font-size: 20px;
}

.slider {
  display: flex;
  justify-content: center;
  background: #d1d1d1;
  height: 290px;
  width: 100%;
  /*grid-area: s;*/
}

.carrossel{
  height: 290px;
  width: 894px;
}

.c-img{
  height: 290px;
  width: 894px;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: white;
  /* grid-area: m; */
}

.instrucoes{
  display: flex;
  justify-content: space-between;
  width: 875px;
  margin-top: 10px;
}

.instrucoes article{
  display: inline-block;

}

.img-instrucoes{
  display: inline-block;
  width: 325px;
  height: 212px;
  margin-top: 12px;
  box-shadow: 2px 2px 10px gray;
}

.boxes{
  margin-top: 45px;
  width: 875px;
}

.boxes h1{
  display: block;
}

.boxes ul{
  display: flex;
  padding-inline-start: 0;
  justify-content: space-between;
}

.boxes ul li{
  display: inline-block;
  margin: 0 0 0 1%;
  text-align: justify;
  box-sizing: border-box;
}

.boxes ul li p{
  margin: 5px 0;
  width: 196px;
}


.boxes ul li:first-child{
  margin-left: 0;
}

li .img-boxes{
  width: 196px;
  height: 163px;
}

footer {
  position:absolute;
  bottom:-176px;
  width:100%;
  text-align: center;
  background: #454545;
  /* grid-area: f; */
}

footer ul{
  display: block;
  padding-inline-start: 0;
}
footer ul li{
  display: inline-block;
  padding: 10px;
  color: #b5b5b5;
  text-transform: uppercase;

}

li a{
  text-decoration-line: none;
}


footer ul li a:hover{
  text-decoration-line: underline;
}

footer span {
  display: inline-block;
  color: white;
  margin: 50px 0 20px  0;
  font-size: 12px;
}


@media screen and (max-width: 877px) {
	.container, .carrossel, .c-img, .div-tel, .logo-menu, .boxes, .logo-menu, .instrucoes, html, body{
		width: 100%;
	}

  .boxes ul {
    display: block;
  }

  .instrucoes{
    flex-direction: column;
  }

  h1{
    text-align: center;
  }

  article{
    padding: 3%;
  }

  .img-instrucoes{
    align-self: center;
  }

  .img-c-texto{
    text-align: justify;
    max-width: 325px;
    margin: auto;
  }

  .img-c-texto img{
    width: 100%;
    display: block;
    margin: 0 auto;
  }

  .boxes ul li p {
    display: block;
    margin: 15px 0;
    width: 100%;
}

  .boxes ul li p:first-child {

  }

  .boxes ul{
    display: flex;
    flex-direction: column;
  }

  .menu-principal{
    visibility: hidden;
  }

  .hmgr-menu{
    visibility: visible;
    bottom: 30%;
    right: 10%;
  }

}
