html, body{
  margin:0;
  padding:0;
  box-sizing:borderbox;
  background: purple;
}

.container{
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 26px 90px 290px 555px 176px;
  grid-template-areas: "ht"
                       "hb"
                       "s"
                       "m"
                       "f";
}

header {
}

.header-top{
  grid-area: ht;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  background: #020085;
  height: 26px;
  width: 100%;
}

.header-top span{
  font-weight: bold;
  color: white;
}

.header-top span:last-child{
  margin: 0 12% 0 10px;
  font-weight: bold;
  color: white;
}

.header-bot{
  grid-area: hb;
  background: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 90px;
}

.logo{
  margin-left: 12%;
  width: 207px
}

.header-bot nav{
  margin-right: 12%;
  margin-top: 4%;
}

.header-bot ul li{
  position: relative;
  display: inline-block;
  padding: 10px;
  color: #b5b5b5;
  text-transform: uppercase;
}

header a:visited {
  color: white;
}
.sub-m-1{
  display: none;
  position: absolute;
  top: 36px;
  left: 8px;
  width: 100px;
  background: #020085;
  padding: 0 15px;
}

.empresa:hover .sub-m-1{
  display: block;
}

.sub-m-1 a{
  position: relative;
}

.sub-m-2{
  display: none;
  position: absolute;
  width: 100px;
  top: 114px;
  left: 130px;
  background: #020085;
  padding: 0 15px;
}

.submenu:hover .sub-m-2{
  display: block;
}

h1{
  text-transform: uppercase;
  font-size: 20px;
}

.slider {
  display: flex;
  justify-content: center;
  background: #d1d1d1;
  grid-area: s;
}

.carrossel{
  height: 290px;
  width: 894px;
}

.c-img{
  height: 290px;
  width: 894px;
}

main {
  background: white;
  grid-area: m;
}

.instrucoes{
  display: flex;
  justify-content: space-between;
}

.instrucoes article{
  display: inline-block;
  margin-left: 12%;
}

.img-instrucoes{
  display: inline-block;
  width: 325px;
  height: 212px;
  margin-right: 12%;
  margin-top: 12px;
}

.boxes{
  margin-top: 45px;
  margin-left: 12%;
}

.boxes h1{
  display: block;
}

.boxes ul{
  padding-inline-start: 0;

}

.boxes ul li{
  display: inline-block;
  margin: 0 4%;
  text-align: center;
  box-sizing: border-box;
}

.boxes ul li p{
  margin: 5px 0;
  width: 196px;
}

.boxes a{
  text-decoration-line: none;
}

.boxes ul li:first-child{
  margin-left: 0;
}

li .img-boxes{
  width: 196px;
  height: 163px;
}

footer {
  text-align: center;
  background: #454545;
  grid-area: f;

}

footer ul{
  display: block;
  padding-inline-start: 0;
}
footer ul li{
  display: inline-block;
  padding: 10px;
  color: #b5b5b5;
  text-transform: uppercase;

}

li a{
  text-decoration-line: none;
}

footer a:visited{
  color: #b5b5b5;
}

footer ul li a:hover{
  text-decoration-line: underline;
}

footer span {
  display: inline-block;
  margin: 50px 0 20px  0;
}
